@model IEnumerable<Todo.Model.TodoTask>
@{
    Layout = null;
}

<h2>All Tasks</h2>


@*table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model)
{
    <div class="row">
       
        <div class="col-xs-12 col-md-11" style="border-width:1px;border-style: solid; border-color: rgba(0, 0, 0, 0.5);">
            @Html.DisplayFor(modelItem => item.CreatedDate)
         <h2>   @Html.DisplayFor(modelItem => item.Title)</h2>
            @Html.DisplayFor(modelItem => item.Description)
            <div style="text-align: right">
                Due: @Html.DisplayFor(modelItem => item.DueDate)
            </div>
        </div>
      

      



    </div>
}


